* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
a {
    color: #000;
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* input通用样式 */
.inputTemplate {
    width: 100%;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    margin-top: 10px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.inputTemplate:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}

/* button通用样式 */
.btnTemplate {
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.2s;
}
.btnTemplate:hover {
    color: #fff;
}

/* 导航栏容器 */
.topContainer {
    height: 70px;
}
/* 导航栏 */
.navbar {
    width: 100%;
    min-height: 50px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
}
/* 导航栏容器 */
.navbar-container {
    width: 95%;
    margin: 0 auto;
}
/* 主标题 */
.navbar-brand {
    float: left;
    height: 50px;
    line-height: 22px;
    color: #ddd;
    padding: 15px;
    font-size: 18px;
}
/* 主标题选中后 */
.navbar-brand:hover {
    color: #ff0000;
    transition: 0.3s;
    border-bottom: 1px solid #ff0000;
}
/* 导航列表 */
.navbar-nav {
    height: 50px;
    margin: 0;
}
.navbar-nav > li {
    float: left;
    padding: 0;
}
.navbar-nav a:first-child {
    padding-left: 20px;
}

/* 主页主体内容 */
.mainContainer {
    width: 92%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}
/* 新建任务表单 */
.mainForm {
    height: 120px;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
/* 表单盒子 */
.formBox {
    height: 100%;
    padding: 15px;
}
/* 设置label */
.formBox label {
    font-weight: 600;
}
/* 新建任务 */
.newTask {
    width: 40%;
    float: left;
    margin-right: 40px;
}
/* 分组 */
.group {
    width: 30%;
    float: left;
    margin-right: 40px;
}
/* 添加任务 */
.addTask {
    width: 20%;
    float: left;
    margin-top: 30px;
}
/* 添加任务按钮 */
.btn-addTask {
    width: 120px;
    height: 50px;
    font-size: 16px;
    border-color: #449d44;
    color: #449d44;
}
.btn-addTask:hover {
    background-color: #449d44;
}
/* 首页排序 */
.sortBy {
    position: relative;
    height: 33px;
    margin-top: 40px;
}
/* 排序按钮 */
.btn-sortBy {
    float: right;
    width: 170px;
    height: 100%;
    font-size: 16px;
    border-color: #2a6496;
    color: #2a6496;
}
.btn-sortBy:hover {
    background-color: #2a6496;
}
/* 排序按钮下拉列表 */
.dropdownMenu {
    position: absolute;
    float: left;
    right: 0;
    top: 100%;
    padding: 7px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
/* 下拉列表各个按钮 */
.btn-dropdown {
    width: 170px;
    height: 33px;
    font-size: 16px;
    border-color: #2a6496;
    color: #2a6496;
}
.btn-dropdown:hover {
    background-color: #2a6496;
}
